@model CityModel

@{
    ViewData["Title"] = "Add City";
}

<h1>Add City</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId" style="width:min-content"></select>
                <input type="hidden" asp-for="CountryId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ListOfCities">Back to City List</a>
</div>