@{
    ViewData["Title"] = "ListOfPeople";
}

<h1>People Index</h1>

<p>Search people by name or city:</p>
<form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city"><br>
    <input type="submit" value="Search">
</form>
<br>
<br>
<p>Add a person to the list:</p>
<form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="phone">Phonenumber:</label><br>
    <input type="text" id="phone" name="phone"><br>
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city"><br>
    <input type="submit" value="Submit">
</form>
<br>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Phone nr</th>
        <th>City</th>
    </tr>
    <tr>
        <td>Tomas</td>
        <td>072</td>
        <td>Göteborg</td>
    </tr>
</table>
