@model PeopleViewModel
@{
    ViewData["Title"] = "List Of People";
}<div class="container">
    <h2>People Index</h2>
    <div>
        <form asp-action="ListOfPeople" method="post" role="form">
            @Html.AntiForgeryToken()
            <h3>Search person by name or city:</h3>
            <input asp-for="FilterString" required />
            <input type="submit" class="btn btn-success" name="btnFilter" value="Search" />
        </form>
    </div>
    <br>
    <br>
    <div>
        <form asp-action="CreatePerson" method="post" role="form">
            @Html.AntiForgeryToken()
            <h3>Add a person to the list:</h3>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
            <br>
            <label asp-for="Phone"></label>
            <input asp-for="Phone" />
            <span asp-validation-for="Phone"></span>
            <br>
            <label asp-for="City"></label>
            <input asp-for="City" />
            <span asp-validation-for="City"></span>
            <br>
            <input type="submit" class="btn btn-primary" name="btnAddPerson" value="Add Person" />
        </form>
    </div>
    <p>@ViewBag.Message</p>
    <br>
    <br>
    <div>
        <h3>List of people</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
        <div>
            @foreach (var person in Model.PersonListView)
            {
                <partial name="_PeopleListPartial" model="person" />
            }
        </div>
    </div>
</div>
