@model IEnumerable<PersonModel>
@{
    ViewData["Title"] = "ListOfPeople";
}<div class="container">
    <h2>People Index</h2>
    <div>
        <h3>List of people</h3>
        <a asp-action="CreatePerson">Create Person</a>
        <br>
        <a asp-controller="Country" asp-action="ListOfCountries">List Countries</a>
        <br>
        <a asp-controller="City" asp-action="ListOfCities">List Cities</a>
        <br>
        <a asp-controller="Language" asp-action="ListOfLanguages">List Languages</a>
        <br>
        <a asp-action="AddLanguage">Add Language to Person</a>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                        <td>@person.PersonId</td>
                        <td>@person.Name</td>
                        <td>@person.Phone</td>
                        <td>@person.City.City</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>