<html>
    <head>
        <title>Hello React!</title>
    </head>
    <body>
        <h2>People Index</h2>
        <h3>List of people</h3>
        <div id="head"></div>
        <div id="content"></div>
        <br />
        <div id="detailshead"></div>
        <div id="details"></div>
    </body>
    </html>


@*@{
    ViewBag.Title = "Index";
}

<h2>People Index</h2>
<h3>List of people</h3>
<div id="root"></div>*@
