<html>
<head>
    <title>Hello React!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js" defer></script>
    <script src="@Url.Content("~/js/PersonReact.jsx")" defer></script>
</head>
<body>
    <h2>People Index</h2>
    <h3>List of people</h3>
    <div id="head"></div>
    <div id="content"></div>
</body>
</html>