@{
    ViewData["Title"] = "About";
}

<h2>@ViewBag.About</h2>
<p> Utbildningar<br />
    2021-09 – 2022-05	.NET Programmerare, Lexicon<br /><br />
    C# .NET, ASP .NET Core MVC, Webutveckling, Azure, Databas, Applikationsutveckling, Test och Ledning<br />
    2018-08 – 2020-06	Systemuvecklare (Fullstack Developer .NET), Teknikhögskolan i Göteborg – totalt 400 poäng <br />
    Programmeringsteknik C#, Databaser med SQL, Dataåtkomster i .NET, Webbutveckling backend,<br />
    Webbutveckling frontend, Utveckling i Windows molntjänster, Utveckling med ramverket i .NET, LIA 1,<br />
    LIA 2, Examensarbete<br /><br />
    1983-01 – 1988-06	Läkarhögskolan, Karolinska Institutet i Stockholm<br /><br />
    1979-08 – 1982-06	Naturvetenskaplig linje, Hagaskolans gymnasium i Borlänge<br /><br /><br />

    Arbetslivserfarenhet<br />
    2019-10 – 2020-05	Backend-utvecklare på Evimeria AB, Göteborg<br />
    Jag gjorde min praktik som programmerare på Evimeria som är ett företag som jobbar med e-hälsa,<br />
    närmare bestämt med Webdoc som är ett webbaserat journalsystem för sjukvården samt Vårdrummet som<br />
    är en plattform för digital kommunikation mellan patienter och sjukvården. Arbetssättet var agilt med bl.a.<br />
    dagliga stand-ups, KanBan, Tickets, 3 veckors sprinter, retromöten och förfiningsmöten. Jag ingick som<br />
    utvecklare (kodare) i ett team som bestod av 4 andra kodare, en testare och en produktägare. Det<br />
    huvudsakliga programmeringsspråket var PHP, JavaScript, HTML och CSS.<br /><br />

    2010-08 – 2015-12	Distriktsläkare Falu Vårdcentral, Falun<br />
    Som en av 6 delägare var jag med och startade upp Falu vårdcentral (VC) som är den enda privata<br />
    vårdcentralen i Falun. Jag har suttit med i styrelsen och ledningsgruppen. Utöver detta arbetade jag som<br />
    distriktsläkare (DL) med sedvanligt DL-arbete med ansvar för ca 2000 invånare. I arbetet ingick<br />
    läkarmottagning, barnavårdscentral (BVC), serviceboende, hembesök, jourer mm. Jag var<br />
    astma/allergi/KOL-ansvarig läkare på VC. Jag hade även ansvar för IT, data- och journalfrågor på VC.<br />
    Dessutom var jag handledare för AT- och ST-läkare (utbildningsläkare) och har gått handledarutbildning.<br /><br />

    2010-01 – 2015-12	Skolläkare i Falu Kommun<br />
    Jag arbetade 30-40% som skolläkare i Faluns kommunala skolor vilket innebar undersökningar och<br />
    bedömningar av olika somatiska tillstånd inkl. tillväxtstörningar, vaccinationsstatus, pubertetsbedömningar,<br />
    psykiska besvär, undersökningar inför neuropsykiatriska utredningar mm.<br /><br />

    2000-01 – 2015-12	Representant för Falun i Primärvårdens IT-råd, Dalarna<br />
    Som representant för Faluområdet i Primärvårdens (PV) IT-råd Dalarna arbetade jag för en mer enhetlig<br />
    IT-strategi inom Landstinget Dalarna. Jag deltog även i utprovningen och upphandlingen av ett nytt,<br />
    gemensamt datajournalsystem i Dalarna (Take Care).<br /><br />

    2005 – 2015-12	Representant för Falun i Primärvårdens Kvalitetsbokslutsgrupp, Dalarna<br />
    Jag arbetade där med att ta fram kvalitetsindikatorer och statistik för hela PV Dalarnas kvalitetsarbete som<br />
    sammanställs regelbundet. Även granskning av presenterade data ingick i arbetsuppgifterna. Dessutom åkte<br />
    jag runt till olika VC för att prata om deras kvalitet och om kvalitetsarbete generellt.<br /><br />

    1997-11 – 2010-08	Distriktsläkare Britsarvets Vårdcentral, Falun<br />
    Jag arbetade med sedvanligt DL-arbete med ansvar för ca 2000 invånare. Detta inkluderade patientmottagning,<br />
    BVC-mottagning, hembesök, ronder på serviceboende, jourer mm. Jag var astma/allergi/KOL-ansvarig läkare och<br />
    dessutom hade jag ansvar för IT, data- och journalfrågor på VC samt var handledare för AT- och ST-läkare.<br /><br />

    2007-05 – 2010-04	Avdelningschef för läkarna på Britsarvets Vårdcentral, Falun<br />
    Som avdelningschef för samtliga läkare på Britsarvets VC arbetade jag med bl.a. personalfrågor inkl.<br />
    utvecklingssamtal, läkemedelsfrågor samt lokal- och utrustningsfrågor. Jag var även med och beslutade om<br />
    läkarnas individuella lönesättning och hade även schemaläggningsansvaret för läkarna.<br /><br />

    2002-09 – 2004-01	Medicinskt ledningsansvarig läkare för Jourcentralen (DL-jouren) vid Falu lasarett<br />
    Som ledningsansvarig arbetade jag med personalfrågor, läkemedelsfrågor samt lokal- och utrustningsfrågor.<br /><br />

    1993-03 – 1997-11	ST-tjänstgöring Landstinget Dalarna<br />
    Placering på Britsarvets VC, Falun. Jag arbetade självständigt men under handledning i ett vårdteam med<br />
    ansvar för ca 2000 invånare. Jag skötte all basal sjukvård, hemsjukvård, BVC, jourer mm som hör till DL<br />
    arbetsuppgifter. Dessutom var jag avdelningsläkare på ett serviceboende.<br />
    Jag avlade specialistexamen nov 1997, vilket inkluderade ett vetenskapligt arbete.<br /><br />

    1992-02 – 1993-02	Underläkarvikariat Britsarvets Vårdcentral, Falun<br />
    Jag arbetade självständigt i ett vårdteam med ansvar för ca 2000 invånare. Jag skötte all basal sjukvård,<br />
    hemsjukvård, BVC, jourer mm som hör till DL arbetsuppgifter. Dessutom var jag avdelningsläkare på ett<br />
    serviceboende.<br /><br />

    1990-05 – 1992-01	Underläkarvikariat Gagnefs Vårdcentral, Gagnef<br />
    Jag arbetade självständigt i ett vårdteam med ansvar för ca 2000 invånare. Jag skötte all basal sjukvård,<br />
    hemsjukvård, BVC, jourer mm som hör till DL arbetsuppgifter. Dessutom var jag avdelningsläkare på en<br />
    av sjukhemmets två avdelningar.<br /><br />

    1988-08 – 1990-04	AT-tjänstgöring, Landstinget Dalarna<br />
    Placering på Falu lasarett samt Jakobsgårdarnas VC. Läkarmottagning under handledning.<br /><br />


    Övriga meriter<br />
    2006-08 – 2013-07	Konsultläkare på Excelsis Vård<br />
    Jag arbetade 5 % som konsultläkare på Wikmansgården i Vikmanshyttan, ett boende för personer med<br />
    psykiska funktionshinder och äldrevård/geriatrik. Detta innefattade regelbundna ronder på boendet var<br />
    annan vecka samt vid behov telefonkonsultationer dygnet runt.<br /><br />

    Språkkunskaper<br />
    Svenska	Modersmål 1<br />
    Ungerska	Modersmål 2<br />
    Engelska	Mycket goda kunskaper i tal och skrift<br />
    Tyska	Goda kunskaper i tal och skrift<br /><br />

    IT-kunskaper<br />
    Tekniker och verktyg:		C#, .NET Framework, PHP, ASP.NET Core (MVC, Web API, REST), T-SQL, Entity Framework,<br />
    JavaScript, HTML, CSS, TypeScript, UWP, Windows Forms, Microsoft Azure DevOps, GitHub, Bitbucket, Jira, Docker,<br />
    Visual Studio, Sourcetree, Agilt arbetssätt enligt Scrum och är Umbraco Certifierad.<br />
    Office:		Mycket goda kunskaper<br />
    Take Care, PMO, J III:	Mycket goda kunskaper<br /><br />

    Körkort<br />
    AM/B	Sedan 1981<br /><br />

    Sammanfattning och målsättning<br />
    Jag har arbetat i 27 år som en omtyckt läkare och har vana att arbeta helt självständigt men även tillsammans<br />
    med andra i vårdlag/team och har erfarenhet av teamledning och att jobba som teamledare. Jag har stort intresse<br />
    och även erfarenhet av att arbeta med kvalitetsfrågor samt utveckling och digitalisering av verksamheter.<br />
    Jag arbetar snabbt men är samtidigt mycket noggrann. Det bekommer mig inte att bli störd/konsulterad under<br />
    arbetets gång då jag har lätt för att ställa om fokus och då jag har bra simultankapacitet. Jag har ett brinnande<br />
    intresse för data/IT och tekniska produkter generellt varför jag nu kompletterat min utbildning till systemutvecklare.<br />
    Mitt mål är att arbeta med digitalisering och produktutveckling i stort. Jag drar mig inte för nya utmaningar<br />
    och att arbeta hårt.<br /><br />

    Referenter<br />
    Lämnas vid behov
</p>