@{
    ViewData["Title"] = "Projects";
}

<h2>@ViewBag.Projects</h2>

<h3>Calculator</h3>
<p>
    A basic Console-based calculator using C#. It handles basic mathematical operations (addition, subtraction, multiplication, division).<br />
    It presents the results in a consistent way.
</p>
<a href="https://github.com/TomasVaro/Calculator">Git-Hub-link to 'Calculator'</a>
<br />

<h3>Hangman</h3>
<p>
    A Console-based game called Hangman. The application chooses randomly a word and you have to guess it by suggesting letters.<br />
    The word to guess is represented by a row of dashes where each dash represents a letter in the word.
</p>
<a href="https://github.com/TomasVaro/Hangman">Git-Hub-link to 'Hangman'</a>
<br />

<h3>Testing Calculator</h3>
<p>
    A basic Console-based calculator using C# with added unit-tests. Also added overload for addition (+) and subtract (-) method with<br />
    versions that takes a array as input parameter.
</p>
<a href="https://github.com/TomasVaro/CalculatorTest">Git-Hub-link to 'Testing Calculator'</a>
<br />

<h3>TodoIt</h3>
<p>
    A “Todo app” in .NET Core using object oriented programming.
</p>
<a href="https://github.com/TomasVaro/TodoIt">Git-Hub-link to 'TodoIt'</a>
<br />

<h3>HTML Fundamentals</h3>
<p>
    Two basic HTML structured pages, Index and Login, styled with CSS.
</p>
<a href="https://github.com/TomasVaro/HTML-Fundamentals">Git-Hub-link to 'HTML Fundamentals'</a>
<br />

<h3>Vending Machine</h3>
<p>
    A vending machine where you can deposit money, buy products and return the appropriate amount of change.
</p>
<a href="https://github.com/TomasVaro/VendingMachine">Git-Hub-link to 'Vending Machine'</a>
<br />

<h3>Sokoban</h3>
<p>
    A JavaScript game, based on the game called ”Sokoban”.
</p>
<a href="https://github.com/TomasVaro/Sokoban">Git-Hub-link to 'Sokoban'</a>
<br />
<br />
<br />
