@model Person
    <div class="row">
        <div class="col-md-3">@Model.Name</div>
        <div class="col-md-3">@Model.Phone</div>
        <div class="col-md-3">@Model.City</div>
        <div>
            <a href="#" onclick="location.href = '@Url.Action("DeletePerson", "People", new { id=Model.PersonId })'">Delete</a>
        </div>
    </div>